{% extends 'base.html' %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">

        <div class="row page-title-header">
            <div class="col-md-5">
                <h1>Painel de controle</h1>
            </div>
            <div class="col-md-1">
                <a href="{{ url_for('login.logout') }}" class="btn btn-danger">Sair</a>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="row">

            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Pedido</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('order.add') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text"><i class="fa fa-plus-circle"></i>Cadastrar Pedido</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Produto</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('product.add') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text"><i class="fa fa-plus-circle"></i>Cadastrar Produto</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if session.get('user_grupo', None) == 'admin' %}
            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Cliente</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('client.add') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text"><i class="fa fa-plus-circle"></i>Cadastrar Cliente</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>

    </div>
</div>

{% endblock content %}