{% extends 'base.html' %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">

        <div class="row page-title-header">
            <div class="col-md-5">
                <h1>Painel de controle</h1>
            </div>
            <div class="col-md-1">
                <a href="{{ url_for('login.logout') }}" class="btn btn-danger">Sair</a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Pedido</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('order.add') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Cadastrar Pedido</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Produto</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('product.add') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Cadastrar Produto</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Cliente</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('client.add') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Cadastrar Cliente</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Usuário</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('user.add') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Cadastrar Usuário</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock content %}