.mb-20{
    margin-bottom: 20px;
}

.auth.auth-bg-1 {
    background: url(../images/login_1.jpg);
    background-size: cover;
}

.invalid-feedback{
    display: block;
}

.produtos-pedidos{
    padding: 15px;
    background: #f9f9f9;
    margin-bottom: 30px;
}

.produtos-pedidos .row-pp{
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
    padding: 15px;
    background: #f0f0f0;
    position: relative;
}
.produtos-pedidos .row-pp .remove-produto{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;
    z-index: 2;
}

.remove-produto.hide{
    display: none;
}

.btn-edit:hover,
.btn-delete:hover,
.btn-download:hover{
    text-decoration: none;
}

.btn-edit i{
    color: #2196f3 !important;
}
.btn-delete i{
    color: #ff6258 !important;
}
.btn-download i{
    color: #2196f3 !important;
}

.btn-edit i,
.btn-delete i,
.btn-download i{
    font-size: 20px !important;
    vertical-align: middle;
    margin-right: 10px;
}

.fig-image img{
    display: block;
    max-width: 200px;
    max-height: 200px;
}

.img-ss, .table td img:not(.thumb-image), .table th img:not(.thumb-image){
    height: auto;
    width: auto;
    max-width: 75px;
    max-height: 50px;
    border-radius: unset;
}

.mb-30{
    margin-bottom: 30px;
}
.mt-25{
    margin-top: 25px;
}

.prod-preview{
    padding: 0;
    margin: 0;
}
.prod-preview img{
    max-width: 100px;
    display: block;
}

.none{
    display: none;
}

.table .form-control{
    max-width: 150px;
}

.loader{
    max-width: 60px;
}

.table-label{
    display: none;
}
@media (max-width: 768px) {
    .table-label{
        display: inline-block;
    }
    .table,
    .table tbody,
    .table tfoot,
    .table tr,
    .table th,
    .table td{
        display: block !important;
    }
    .table thead{
        display: none;
    }
    .table td{
        padding-top: 10px;
        padding-bottom: 10px;
        border: none !important;
        height: auto;
    }
    .table tr{
        margin-bottom: 10px;
        border-bottom: solid 1px #e4e4e4;
    }

    .btn-group, .btn-group-vertical{
        display: block;
    }
    .btn-group .btn{
        margin-bottom: 10px;
    }


    .form-filter .row{
        margin-right: -5px;
        margin-left: -5px;
    }
    .form-filter .row > div{
        padding-right: 5px;
        padding-left: 5px;
    }

    .row.actions .btn{
        margin-bottom: 10px;
    }
}