.mb-20{
    margin-bottom: 20px;
}

table .fa{
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    vertical-align: middle;
    color: #ff6258;
}

.auth.auth-bg-1 {
    background: url(../images/login_1.jpg);
    background-size: cover;
}

.invalid-feedback{
    display: block;
}

.produtos-pedidos{
    padding: 15px;
    background: #f9f9f9;
    margin-bottom: 30px;
}

.produtos-pedidos .row-pp{
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
    padding: 15px;
    background: #f0f0f0;
    position: relative;
}
.produtos-pedidos .row-pp .remove-produto{
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;
    z-index: 2;
}

.remove-produto.hide{
    display: none;
}

.btn-edit i{
    color: rgb(86, 226, 180) !important;
}
.btn-delete i{
    color: #ff6258 !important;
}

.btn-edit i,
.btn-delete i{
    font-size: 20px !important;
    vertical-align: middle;
    margin-right: 5px;
}

.fig-image img{
    display: block;
    max-width: 200px;
    max-height: 200px;
}

.img-ss, .table td img:not(.thumb-image), .table th img:not(.thumb-image){
    height: auto;
    width: auto;
    max-width: 75px;
    max-height: 50px;
    border-radius: unset;
}

.mb-30{
    margin-bottom: 30px;
}
.mt-25{
    margin-top: 25px;
}