{% extends 'base.html' %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row mb-20">
            <div class="col-md-12 text-right">
                <a href="{{ url_for('client.add') }}" class="btn btn-primary btn-fw btn-lg">
                    <i class="fa fa-plus-circle"></i>Adicionar Usuário
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>Usuários</h2>
                        {% from "macros/messageFlash.html" import render_message %}
                        {{ render_message() }}
                        <hr />

                        <form class="form-filter">
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-12">Filtro:</div>
                                <div class="col-md-3 col-sm-6 col-8">
                                    <input type="text" class="form-control" name="nome" placeholder="Nome" value="{{ nome }}">
                                </div>
                                <div class="col-md-1 col-sm-2 col-4">
                                    <button type="submit" class="btn btn-primary">Filtrar</button>
                                </div>
                            </div>
                        </form>
                        <hr />

                        {% if (clients) %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Grupo</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in clients %}
                                    <tr>
                                        <td><b class="table-label">ID:</b> {{ client[0] }}</td>
                                        <td><b class="table-label">Nome:</b> {{ client[1] }}</td>
                                        <td><b class="table-label">E-mail:</b> {{ client[13] }}</td>
                                        <td><b class="table-label">Grupo:</b> {{ client[3] }}</td>
                                        <td>
                                            <b class="table-label">Ver:</b>
                                            <a href="{{ url_for('client.edit', id=client[0]) }}" class="btn-edit">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Nenhum usuário encontrado.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}