{% extends 'base.html' %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row mb-20">
            <div class="col-md-12 text-right">
                <a href="{{ url_for('client.add') }}" class="btn btn-primary btn-fw btn-lg">
                    <i class="mdi mdi-star-outline"></i>Adicionar Novo
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>Usuários</h2>
                        {% from "macros/messageFlash.html" import render_message %}
                        {{ render_message() }}
                        <hr />
                        {% if (clients) %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Editar/Excluir</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for client in clients %}
                                    <tr>
                                        <td>{{ client[0] }}</td>
                                        <td>{{ client[1] }}</td>
                                        <td>{{ client[10] }}</td>
                                        <td>
                                            <a href="{{ url_for('client.edit', id=client[0]) }}" class="btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="{{ url_for('client.delete', id=client[0]) }}" class="btn-delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Nenhum usuário encontrado.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}