{% extends 'base.html' %}

{% from "macros/textFieldMacro.html" import render_field %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <form class="form-sample" novalidate method="POST">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h2>Cadastro de pedido</h2>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            {{ render_field(form.cliente) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            {{ render_field(form.observacao) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="produtos-pedidos">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Produtos</h5>
                                        <hr />
                                    </div>
                                </div>
                                {% for pedido_produto in form.pedidos_produtos %}
                                    {{ pedido_produto.hidden_tag() }}
                                    <div class="row-pp">
                                        <span class="remove-produto btn btn-danger hide">Remover</span>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6>Produto {{ loop.index }}</h6>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        {{ render_field(pedido_produto.produto) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        {{ render_field(pedido_produto.quantidade) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        {{ render_field(pedido_produto.valor) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        {{ render_field(pedido_produto.observacao) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-success mr-2 add-produto">Adicionar produto</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success mr-2">Salvar pedido</button>
                                    <button class="btn btn-danger">Excluir pedido</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>

{% endblock content %}


{% block footer_script %}
<script>
    $(function() {
        var $this = $('.produtos-pedidos');

        var hideCloseBtnIfOne = function() {
            if ($('.row-pp').length <= 1) {
                $('.remove-produto').addClass('hide');
            } else {
                $('.remove-produto').removeClass('hide');
            }
        }
        hideCloseBtnIfOne();

        $this.find('.add-produto').click(function() {
            var oldrow = $this.find('.row-pp').last();
            var row = oldrow.clone(true, true);
            var elem_id = row.find(':input')[0].id;
            var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')) + 1;
            redefineIndexes(elem_num, row, true);
            oldrow.after(row);
            hideCloseBtnIfOne();
        });

        $this.find('.remove-produto').click(function() {
            if($this.find('.row-pp').length > 1) {
                var thisRow = $(this).closest('.row-pp');
                thisRow.remove();
                $this.find('.row-pp').each(function(index) {
                    redefineIndexes(index, $(this), false);
                });
            }
            hideCloseBtnIfOne();
        });

        var redefineIndexes = function(elem_num, row, isAdd) {
            row.find(':input').each(function() {
                var id = $(this).attr('id').replace(/[0-9]/g, elem_num);
                if (isAdd) {
                    $(this).attr('name', id).attr('id', id).val('').removeAttr('checked');
                } else {
                    $(this).attr('name', id).attr('id', id);
                }
            });
            row.find('label').each(function() {
                var id = $(this).attr('for').replace(/[0-9]/g, elem_num);
                $(this).attr('for', id);
            });
            row.find('h6').html('Produto ' + (elem_num + 1));
        }
    });
</script>
{% endblock footer_script %}