{% extends 'base.html' %}

{% from "macros/textFieldMacro.html" import render_field, render_hidden_field %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">

        <form class="form-sample" novalidate method="POST">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">

                            <h2>{{ title }}</h2>
                            {% from "macros/messageFlash.html" import render_message %}
                            {{ render_message() }}
                            <hr />

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Cliente</label>
                                            <input type="text" class="form-control" disabled value="{{ session.get('user_nome', '') }}" >
                                            {{ render_hidden_field(form.cliente) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            {{ render_field(form.observacao) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    {{ render_hidden_field(form.order_id) }}
                                    <button type="button" class="btn btn-primary mr-2 mt-25" data-toggle="modal"
                                        data-target="#modalProduto">Adicionar produto</button>
                                </div>
                            </div>
                            <hr />

                            <div class="row mb-30">
                                <div class="col-md-12">
                                    <h5>Produtos</h5>
                                    <table class="table none" id="p-has">
                                        <thead>
                                            <th>Imagem do produto</th>
                                            <th>Código do produto</th>
                                            <th>Descrição do produto</th>
                                            <th>Valor do produto</th>
                                            <th>Quantidade</th>
                                            <th>Valor</th>
                                            <th>Observação</th>
                                            <th>Editar/Deletar</th>
                                        </thead>
                                        <tbody id="p-body"></tbody>
                                    </table>
                                    <p id="p-not-has">Nenhum produto adicionado.</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success mr-2">Salvar pedido</button>
                                    {% if orderId %}
                                    <a href="{{ url_for('order.delete', id=orderId) }}"
                                        class="btn btn-danger mr-2">Excluir</a>
                                    {% endif %}
                                    <a href="{{ url_for('order.index') }}" class="btn btn-info">Voltar</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar produto ao pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Produto</label>
                            <input type="text" class="form-control" id="suggestion-search" placeholder="Produto">
                            <figure class="prod-preview">
                                <img id="p-img" />
                            </figure>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Quantidade</label>
                            <input type="number" class="form-control" id="p-qtd" placeholder="Quantidade" value="1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Valor</label>
                            <input type="text" disabled class="form-control" id="p-val" placeholder="Valor">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Observação</label>
                            <input type="text" class="form-control" id="p-desc" placeholder="Observação">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <input type="hidden" id="p-id" value="">
                <input type="hidden" id="p-descricao" value="">
                <input type="hidden" id="p-imagem" value="">
                <input type="hidden" id="p-valor" value="">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="add-product">Adicionar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block footer_script %}
<script src="{{ url_for('static', filename='js/order-product.js') }}"></script>
{% endblock footer_script %}