<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Product Order</title>
    <style>
        ul,
        li {
            list-style: none;
        }

        ul {
            padding: 10px 0;
        }

        li {
            margin-bottom: 15px;
        }

        li:last-child {
            margin-bottom: 0;
        }

        table {
            width: 100%;
        }

        table td,
        table th {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Pedido ID</h1>
    <hr>

    <div>
        <ul>
            <li><b>Cliente:</b> Welison Menezes</li>
            <li><b>Observação:</b> Observaçaõ aqui</li>
        </ul>
    </div>
    <hr>

    <div>
        <h2>Produtos</h2>
        <table>
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                    <th>Total</th>
                    <th>Observação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Imagem</td>
                    <td>3</td>
                    <td>Caneta Azul</td>
                    <td>1.11</td>
                    <td>1</td>
                    <td>1.11</td>
                    <td>Observaçaõ aqui</td>
                </tr>
                <tr>
                    <td>Imagem</td>
                    <td>3</td>
                    <td>Caneta Azul</td>
                    <td>1.11</td>
                    <td>1</td>
                    <td>1.11</td>
                    <td>Observaçaõ aqui</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>