{% extends 'base.html' %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row mb-20">
            <div class="col-md-12 text-right">
                <a href="{{ url_for('order.add') }}" class="btn btn-primary btn-fw btn-lg">
                    <i class="fa fa-plus-circle"></i>Adicionar Pedido
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        {% if session.get('user_grupo', '') != 'user' %}
                        <h2>Pedidos</h2>
                        {% else %}
                        <h2>Seus Pedidos</h2>
                        {% endif %}

                        {% from "macros/messageFlash.html" import render_message %}
                        {{ render_message() }}
                        <hr />

                        {% if session.get('user_grupo', '') != 'user' %}
                        <form>
                            <div class="row">
                                <div class="col-md-1 col-sm-2 col-3">Filtro:</div>
                                <div class="col-md-3 col-sm-6 col-6">
                                    <select class="form-control" name="user">
                                        <option value="">Usuário</option>
                                        {% for client in clients %}
                                            <option value="{{ client[0] }}">{{ client[4] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-1 col-sm-2 col-3">
                                    <button type="submit" class="btn btn-primary">Filtrar</button>
                                </div>
                            </div>
                        </form>
                        <hr />
                        {% endif %}

                        {% if (orders) %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Observação</th>
                                        <th>Cliente</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td><b class="table-label">ID:</b> {{ order[0] }}</td>
                                            <td><b class="table-label">Observação:</b> {{ order[2] }}</td>
                                            <td>
                                                <b class="table-label">Cliente:</b>
                                                <a href="{{ url_for('client.edit', id=order[3]) }}">{{ order[4] }}</a>
                                            </td>
                                            <td>
                                                <b class="table-label">Ver:</b>
                                                <a href="{{ url_for('order.edit', id=order[0]) }}" class="btn-edit">
                                                    <i class="fa fa-eye"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Nenhum pedido encontrado.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}