{% extends 'base.html' %}

{% from "macros/textFieldMacro.html" import render_field %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <form class="form-sample" novalidate method="POST">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h2>Cadastro de pedido</h2>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            {{ render_field(form.cliente) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            {{ render_field(form.observacao) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="produtos-pedidos">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Produtos</h5>
                                        <hr />
                                    </div>
                                </div>
                                {% for pedido_produto in form.pedidos_produtos %}
                                    {{ pedido_produto.hidden_tag() }}
                                    <div class="row-pp">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h6>Produto {{ loop.index }}</h6>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        {{ render_field(pedido_produto.produto) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        {{ render_field(pedido_produto.quantidade) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        {{ render_field(pedido_produto.valor) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-12">
                                                        {{ render_field(pedido_produto.observacao) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-success mr-2">Adicionar produto</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success mr-2">Salvar pedido</button>
                                    <button class="btn btn-danger">Excluir pedido</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>

{% endblock content %}