{% extends 'base.html' %}

{% block content %}


<div class="main-panel">
    <div class="content-wrapper">
        <form class="form-sample">
            <div class="row">

                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h2>Cadastro de pedido</h2>
                            <hr />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Número do pedido</label>
                                            <input type="text" class="form-control" placeholder="Número do pedido" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Código do cliente</label>
                                            <input type="text" class="form-control" placeholder="Código do cliente" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Nome do cliente</label>
                                            <input type="text" class="form-control" placeholder="Nome do cliente" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Data/Hora</label>
                                            <input type="text" class="form-control" placeholder="Data/Hora" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Telefone</label>
                                            <input type="text" class="form-control" placeholder="Telefone" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Email</label>
                                            <input type="email" class="form-control" placeholder="Email" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Estado</label>
                                            <select class="form-control select-estado">
                                                <option value="">Estado</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Cidade</label>
                                            <select class="form-control select-cidade">
                                                <option value="">Cidade</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Bairro</label>
                                            <input type="text" class="form-control" placeholder="Bairro" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Rua</label>
                                            <input type="text" class="form-control" placeholder="Rua" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>CEP</label>
                                            <input type="text" class="form-control" placeholder="CEP" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Número</label>
                                            <input type="text" class="form-control" placeholder="Número" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Descrição</label>
                                            <textarea class="form-control" placeholder="Descrição"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4>Adicionar produto</h4>
                            <hr />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Código do produto</label>
                                            <input type="text" class="form-control" placeholder="Código do produto"
                                                disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Nome do produto</label>
                                            <input type="text" class="form-control" placeholder="Nome do produto" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Preço</label>
                                            <input type="text" class="form-control" placeholder="Preço" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Quantidade</label>
                                            <input type="text" class="form-control" placeholder="Quantidade" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Total</label>
                                            <input type="text" class="form-control" placeholder="Total" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label>Observação</label>
                                            <input type="text" class="form-control" placeholder="Observação" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info mr-2">Adicionar produto</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4>Produtos</h4>
                            <hr />
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Imagem</th>
                                        <th>Código</th>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="py-1">
                                            <img src="{{ url_for('static', filename='images/face1.jpg') }}" alt="image">
                                        </td>
                                        <td>53275531</td>
                                        <td>Lorem Ipsum</td>
                                        <td>
                                            <i class="fa fa-times-circle"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="py-1">
                                            <img src="{{ url_for('static', filename='images/pic-1.png') }}" alt="image">
                                        </td>
                                        <td>53275531</td>
                                        <td>Lorem Ipsum</td>
                                        <td>
                                            <i class="fa fa-times-circle"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="py-1">
                                            <img src="{{ url_for('static', filename='images/pic-1.png') }}" alt="image">
                                        </td>
                                        <td>53275531</td>
                                        <td>Lorem Ipsum</td>
                                        <td>
                                            <i class="fa fa-times-circle"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="py-1">
                                            <img src="{{ url_for('static', filename='images/pic-1.png') }}" alt="image">
                                        </td>
                                        <td>53275531</td>
                                        <td>Lorem Ipsum</td>
                                        <td>
                                            <i class="fa fa-times-circle"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12  grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success mr-2">Salvar pedido</button>
                                    <button class="btn btn-danger">Excluir pedido</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock content %}