{% extends 'base.html' %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row mb-20">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary btn-fw btn-lg">
                    <i class="mdi mdi-star-outline"></i>Adicionar Novo
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>Usuários</h2>
                        {% from "macros/messageFlash.html" import render_message %}
                        {{ render_message() }}
                        <hr />
                        {% if (users) %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Login</th>
                                        <th>Grupo</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{ user[0] }}</td>
                                        <td>{{ user[1] }}</td>
                                        <td>{{ user[2] }}</td>
                                        <td>{{ user[4] }}</td>
                                        <td>
                                            <a href="{{ url_for('user.edit', id=user[0]) }}" class="btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Nenhum usuário encontrado.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn btn-primary">1</button>
                        <button type="button" class="btn btn-primary">2</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary">5</button>
                        <button type="button" class="btn btn-primary">6</button>
                        <button type="button" class="btn btn-primary">7</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-primary">8</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

{% endblock content %}