<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Premium Bootstrap Admin Dashboard Template</title>
    <style type="text/css">
        body {
            -moz-opacity: 0.00;
            -khtml-opacity: 0.00;
            opacity: 0.00;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconfonts/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icheck/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>

<body>
    {% block content %} Content here {% endblock content %}

    <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.addons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shared/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $("body").fadeTo(300, 1);
                $(window).resize();
            }, 1);
        });
    </script>
</body>

</html>