<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <a href="{{ url_for('home.index') }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('client.index') }}">Clientes</a>
        </li>
        <li>
            <a href="{{ url_for('product.index') }}">Produtos</a>
        </li>
        <li>
            <a href="{{ url_for('order.index') }}">Pedidos</a>
        </li>
        <li>
            <a href="">Sair</a>
        </li>
    </ul>
    <main>
        {% block content %}
            conteúdo aqui
        {% endblock content %}
    </main>
</body>
</html>