<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Order Product Admin Example{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconfonts/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconfonts/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icheck/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/EasyAutocomplete-1.3.5/easy-autocomplete.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>
<body>

    <div class="container-scroller">

        {% include "shared/adm-header.html" ignore missing %}

        <div class="container-fluid page-body-wrapper">

            {% include "shared/adm-sidebar.html" ignore missing %}

            {% block content %} Content here {% endblock content %}

        </div>

    </div>

    <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.addons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shared/misc.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cidade-estado.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>