{% block sidebar %}

<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Menu</li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home.index') }}">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-order" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Pedidos</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-order">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('order.index') }}">Listar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('order.add') }}">Adicionar</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-product" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Produtos</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-product">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('product.index') }}">Listar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('product.add') }}">Adicionar</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-client" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Clientes</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-client">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('client.index') }}">Listar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('client.add') }}">Adicionar</a>
                    </li>
                </ul>
            </div>
        </li>
        {% if session.get('user_grupo', '') == 'admin' %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-user" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Usuários</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.index') }}">Listar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user.add') }}">Adicionar</a>
                    </li>
                </ul>
            </div>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- partial -->

{% endblock sidebar %}