{% extends 'base.html' %}

{% from "macros/textFieldMacro.html" import render_field, render_input_field %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2>{{ title }}</h2>
                        {% from "macros/messageFlash.html" import render_message %}
                        {{ render_message() }}
                        <hr />
                        <form class="form-sample" novalidate method="POST" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            {{ render_field(form.descricao, '', '255') }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            {{ render_field(form.valor, '', '11') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if mode == 'add' %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ render_input_field(form.imagem) }}
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ render_input_field(form.imagem_edicao) }}
                                        </div>
                                        <figure class="fig-image">
                                            <img src="data:image/png;base64,{{ image }}" alt="image">
                                        </figure>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form.submit(class='btn btn-success mr-2') }}
                                    {% if productId %}
                                        <a href="{{ url_for('product.delete', id=productId) }}" class="btn btn-danger mr-2">Excluir</a>
                                    {% endif %}
                                    <a href="{{ url_for('product.index') }}" class="btn btn-info">Voltar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}