{% extends 'base.html' %}

{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row mb-20">
            <div class="col-md-12 text-right">
                <a href="{{ url_for('product.add') }}" class="btn btn-primary btn-fw btn-lg">
                    <i class="fa fa-plus-circle"></i>Adicionar Produto
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>Produtos</h2>
                        {% from "macros/messageFlash.html" import render_message %}
                        {{ render_message() }}
                        <hr />
                        {% if (products) %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Imagem</th>
                                        <th>ID</th>
                                        <th>Descrição</th>
                                        <th>Valor</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>
                                                <b class="table-label">Imagem:</b>
                                                <img src="data:image/png;base64,{{ images[(loop.index-1)] }}" alt="image">
                                            </td>
                                            <td><b class="table-label">ID:</b> {{ product[0] }}</td>
                                            <td><b class="table-label">Descrição:</b> {{ product[1] }}</td>
                                            <td><b class="table-label">Valor:</b> {{ product[2] }}</td>
                                            <td>
                                                <b class="table-label">Ver:</b>
                                                <a href="{{ url_for('product.edit', id=product[0]) }}" class="btn-edit">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Nenhum produto encontrado.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn btn-primary">1</button>
                        <button type="button" class="btn btn-primary">2</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary">5</button>
                        <button type="button" class="btn btn-primary">6</button>
                        <button type="button" class="btn btn-primary">7</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-primary">8</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

{% endblock content %}